.signup-form{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card{
  width: 520px;
}

.submit-button{
  display: flex;
  justify-content: center;
}
